/* =========navigation variables========*/
$nav-link-fs: 18px;
/* =======system variables */
$text-font-size: 16px;
/* ======button===== */
$button-border-radidus: 5px;
$button-height: 60px;
$button-font-size: 20px;
/* Sign-in Button variables */
$sign-in-button-width: 430px;
$sing-in-button-fw: bold;

$sing-in-button-bgc: #004DE1;
$sing-in-button-color: #FFFFFF;
